<div lang="en">
  <p>Hi, <%= name %></p>

  <p>Your membership will expire on <%= expireDate %>!</p>
</div>

<hr>

<div lang="bg">
  <p>Здравейте, <%= name %></p>

  <p>Вашето членство изтича на <%= expireDate %>!</p>
</div>
